core/libraries/xsd/value_list.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://crm.pavietnam.vn/list"
           xmlns="http://crm.pavietnam.vn/list"
           elementFormDefault="qualified">

    <xs:element name="list" type="list"/>

    <xs:complexType name="list">
        <xs:sequence>
            <xs:element name="node" type="node" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="node">
        <xs:all>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:all>
    </xs:complexType>

</xs:schema>
